# requirements for TAMOC package.

# this includes build and test requirements

# run time requirements
python>=2.7
numpy>=1.16 version 1.6.1 or h
scipy>=1.2
netcdf4

# build requirements
# A modern Fortran compiler

# test requirements
pytest

