# requirements for TAMOC package.

# this includes build and test requirements

# run time requirements
python>=2.7
numpy>=1.16
scipy>=1.2
netcdf4

# build requirements
fortran-compiler

# test requirements
pytest

