compilers  # Currently unavailable for Windows. Comment out this line and download Rtools and add <path>\ucrt64\bin\ to your path: https://cran.r-project.org/bin/windows/Rtools/rtools40.html
meson>=1.5.0
meson-python>=0.15.0
ninja
pkg-config
pip
xarray=2025.7.1
matplotlib
openpyxl
ipython 
