# Please refer to https://github.com/socolofs/tamoc/README.rst
# To use:
#   $ conda env create -f environment.yml  # `mamba` works too for this command
#   $ conda activate tamoc-e
#
name: tamoc4
channels:
  - conda-forge
dependencies:
  - "python>=3.10"
  - compilers  # Currently unavailable for Windows. Comment out this line and download Rtools and add <path>\ucrt64\bin\ to your path: https://cran.r-project.org/bin/windows/Rtools/rtools40.html
  - "meson>=1.5.0"
  - "meson-python>=0.15.0"
  - ninja
  - numpy<=2.3.2
  - pkg-config
  - pip
# For running tests
  - pytest
# For compatability with the full tamoc package
  - "numpy>=1.25.2"
  - "scipy>=1.13.0"
  - netCDF4
  - xarray
  - matplotlib
# For compatability with the pyfrac tools the build on tamoc
  - pandas
  - openpyxl
# Convenience tools for a usable Python development environment
  - ipython 