include *.txt
recursive-include docs *.*
recursive-include notebooks *.*
include examples/ambient/*.py
include examples/bpm/*.py
include examples/dbm/*.py
include examples/params/*.py
include examples/psm/*.py
include examples/sbm/*.py
include examples/sfm/*.py
include examples/sintef/*.py
include examples/spm/*.py
